body
{
    width: 100%;
    height: 100%;
}

.image_header, .login
{
    margin: auto;
    margin-top: 25px;
    width: 710px;
}

.intro
{
    margin: auto;
    text-align: center;
    width: 710px;
}

h3
{
    margin: 0px;
    width: 140px;
    float: left;
}

input, .username
{
    float: left;
}
.username
{
    clear: both;
}

.clearfix
{
    clear: both;
}

.password
{
    float: left;
    margin-top: 20px;
    clear: left;
}

.submitval
{
    margin-top: 20px;
    margin-left: 30px;
}

.register_link {
    float: left;
    clear: both;
    margin-top: 15px;
}
