<html>
    
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename= 'login.css')}}" type="text/css">
    </head>
   
   <body>
      	<br>

	<h1 class="intro">Welkom bij het inlogscherm van Menno's Sportschool!</h1>

	<div class="image_header">
        <img src=" {{url_for('static', filename= 'sportschool.jpg', align='top', alt='Sportschool!')}} "/>
    </div>

       <div class="login">
      <h2>Inloggen:</h2>	 
	<form method="GET" value="Execute">
        <div class="username">
            <h3>Username:&emsp;</h3>
            <input type="text" placeholder = "Username"	name="username" value = "{{request.args.get.username}}"		/>      
        </div>
		<div class="password">
            <h3 class="clearfix">Wachtwoord:</h3>              
            <input type="password" 	placeholder = "Wachtwoord"  name="password"	value = "{{request.args.get.password}}"	/>
        </div>
		<input type="Submit" class="submitval" value="Uw antwoord sturen"/>
        </form>
		<a href="/register" class="register_link">Registreren</a>
    </div>
