<html>
    
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename= 'register.css')}}" type="text/css">
    </head>
   
   <body>
      	<br>

	<h1 class="intro">Registeren</h1>

    <form method="GET" value="Execute">

        <div class="register_username">
            <h3>Username:&emsp;</h3>
            <input type="text" placeholder = "Username"	name="register_username" value = "{{request.args.get.register_username}}"		/>      
        </div>
        
		<div class="register_password">
            <h3 class="clearfix">Wachtwoord:</h3>              
            <input type="password" 	placeholder = "Wachtwoord"  name="register_password"	value = "{{request.args.get.register_password}}"	/>
        </div>
        
        <div class="adres">
            <h3>Adres:&emsp;</h3>
            <input type="text" placeholder = "adres"	name="adres" value = "{{request.args.get.adres}}"		/>      
        </div>        
        
        <div class="geboortejaar">
            <h3>postcode:&emsp;</h3>
            <input type="text" placeholder = "postcode"	name="postcode" value = "{{request.args.get.postcode}}"		/>      
        </div>
        
		<input type="Submit" class="submitval" value="Registreer!"/>
    </form>
		
        <a href="/login" class="login_link">Terug naar loginscherm</a>
    
